import spacy

# Load the English NLP model
nlp = spacy.load("en_core_web_sm")

print("SpaCy is ready! ✅")

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\laifu\Desktop\SU 25spr\project gdp\data\sample_ccall.csv", encoding="ISO-8859-1")



# Show first few rows
df.head()

,companyid,keydevid,transcriptid,headline,mostimportantdateutc,mostimportanttimeutc,keydeveventtypeid,keydeveventtypename,companyname,transcriptcollectiontypeid,...,transcriptcomponenttypeid,transcriptcomponenttypename,transcriptpersonid,transcriptpersonname,proid,companyofperson,speakertypeid,speakertypename,componenttextpreview,word_count
0,24937,2710235.0,135.0,"Apple Inc., Q3 2006 Earnings Call, Jul-19-2006",19JUL2006,21:00:00,48.0,Earnings Calls,Apple Inc.,6.0,...,1.0,Presentation Operator Message,1.0,Operator,NaN,NaN,1.0,Operator,"Good day, and welcome to this Apple Computer t...",48.0
1,24937,2710235.0,135.0,"Apple Inc., Q3 2006 Earnings Call, Jul-19-2006",19JUL2006,21:00:00,48.0,Earnings Calls,Apple Inc.,6.0,...,2.0,Presenter Speech,10581.0,Nancy Paxton,NaN,NaN,2.0,Executives,"Thank you. Good afternoon, and thanks to every...",195.0
2,24937,2710235.0,135.0,"Apple Inc., Q3 2006 Earnings Call, Jul-19-2006",19JUL2006,21:00:00,48.0,Earnings Calls,Apple Inc.,6.0,...,2.0,Presenter Speech,10627.0,Peter Oppenheimer,NaN,NaN,2.0,Executives,"Thank you, Nancy. Thank you for joining us. We...",1326.0
3,24937,2710235.0,135.0,"Apple Inc., Q3 2006 Earnings Call, Jul-19-2006",19JUL2006,21:00:00,48.0,Earnings Calls,Apple Inc.,6.0,...,7.0,Question and Answer Operator Message,1.0,Operator,NaN,NaN,1.0,Operator,Thank you.,NaN
4,(Operator Instructions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isnull().sum()

companyid                           557
keydevid                             33
transcriptid                        633
headline                            633
mostimportantdateutc                633
mostimportanttimeutc                633
keydeveventtypeid                   633
keydeveventtypename                 633
companyname                         633
transcriptcollectiontypeid          633
transcriptcollectiontypename        633
transcriptpresentationtypeid        633
transcriptpresentationtypename      633
transcriptcreationdate_utc          633
transcriptcreationtime_utc          633
audiolengthsec                     3024
transcriptcomponentid               633
componentorder                      633
transcriptcomponenttypeid           633
transcriptcomponenttypename         633
transcriptpersonid                  633
transcriptpersonname                633
proid                              7062
companyofperson                   16016
speakertypeid                       633
speakertypename                     633
componenttextpreview                633
word_count                         1233
dtype: int64

In [4]:
# Show all column names
print(df.columns)

Index(['companyid', 'keydevid', 'transcriptid', 'headline',
       'mostimportantdateutc', 'mostimportanttimeutc', 'keydeveventtypeid',
       'keydeveventtypename', 'companyname', 'transcriptcollectiontypeid',
       'transcriptcollectiontypename', 'transcriptpresentationtypeid',
       'transcriptpresentationtypename', 'transcriptcreationdate_utc',
       'transcriptcreationtime_utc', 'audiolengthsec', 'transcriptcomponentid',
       'componentorder', 'transcriptcomponenttypeid',
       'transcriptcomponenttypename', 'transcriptpersonid',
       'transcriptpersonname', 'proid', 'companyofperson', 'speakertypeid',
       'speakertypename', 'componenttextpreview', 'word_count'],
      dtype='object')

In [5]:
# Keep only relevant columns
df = df[['mostimportantdateutc', 'mostimportanttimeutc', 'transcriptpersonname', 'speakertypename', 'componenttextpreview']]

# Display the first few rows
df.head()

,mostimportantdateutc,mostimportanttimeutc,transcriptpersonname,speakertypename,componenttextpreview
0,19JUL2006,21:00:00,Operator,Operator,"Good day, and welcome to this Apple Computer t..."
1,19JUL2006,21:00:00,Nancy Paxton,Executives,"Thank you. Good afternoon, and thanks to every..."
2,19JUL2006,21:00:00,Peter Oppenheimer,Executives,"Thank you, Nancy. Thank you for joining us. We..."
3,19JUL2006,21:00:00,Operator,Operator,Thank you.
4,NaN,NaN,NaN,NaN,NaN

In [11]:
# Check missing values again
df.isnull().sum()

mostimportantdateutc    633
mostimportanttimeutc    633
transcriptpersonname    633
speakertypename         633
componenttextpreview    633
dtype: int64

In [13]:
# Check total number of rows
df.shape

(16956, 5)

In [15]:
# Show rows with missing values
df[df.isnull().any(axis=1)].head(10)

,mostimportantdateutc,mostimportanttimeutc,transcriptpersonname,speakertypename,componenttextpreview
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN

In [17]:
# Drop rows where all values are NaN
df = df.dropna(how="all")

# Verify the shape after dropping
df.shape

(16323, 5)

In [19]:
# Check remaining missing values
df.isnull().sum()

mostimportantdateutc    0
mostimportanttimeutc    0
transcriptpersonname    0
speakertypename         0
componenttextpreview    0
dtype: int64

In [21]:
import spacy

# Load the SpaCy English model
nlp = spacy.load("en_core_web_sm")

# Function to clean text
def preprocess_text(text):
    doc = nlp(text)  # Process the text with SpaCy
    cleaned_tokens = [
        token.lemma_.lower()  # Lemmatize and lowercase
        for token in doc
        if not token.is_stop and not token.is_punct and not token.is_space  # Remove stopwords, punctuation, spaces
    ]
    return " ".join(cleaned_tokens)  # Join tokens back into a string

# Apply preprocessing to the transcript text column
df["cleaned_text"] = df["componenttextpreview"].apply(preprocess_text)

# Display the first few rows
df[["componenttextpreview", "cleaned_text"]].head()

,componenttextpreview,cleaned_text
0,"Good day, and welcome to this Apple Computer t...",good day welcome apple computer quarter financ...
1,"Thank you. Good afternoon, and thanks to every...",thank good afternoon thank join speak today ap...
2,"Thank you, Nancy. Thank you for joining us. We...",thank nancy thank join pleased report second h...
3,Thank you.,thank
7,"If you could talk, to the extent you can, abou...",talk extent view balance year press release ta...

In [25]:
df.to_csv("cleaned_transcripts.csv", index=False)

In [1]:
import pandas as pd

# Load the cleaned data
df_cleaned = pd.read_csv("cleaned_transcripts.csv")

# Display the first few rows
df_cleaned.head()


#note meeting
#stop words, implement my own mini version of words. write a words document report.

,mostimportantdateutc,mostimportanttimeutc,transcriptpersonname,speakertypename,componenttextpreview,cleaned_text
0,19JUL2006,21:00:00,Operator,Operator,"Good day, and welcome to this Apple Computer t...",good day welcome apple computer quarter financ...
1,19JUL2006,21:00:00,Nancy Paxton,Executives,"Thank you. Good afternoon, and thanks to every...",thank good afternoon thank join speak today ap...
2,19JUL2006,21:00:00,Peter Oppenheimer,Executives,"Thank you, Nancy. Thank you for joining us. We...",thank nancy thank join pleased report second h...
3,19JUL2006,21:00:00,Operator,Operator,Thank you.,thank
4,19JUL2006,21:00:00,Andrew Neff,Analysts,"If you could talk, to the extent you can, abou...",talk extent view balance year press release ta...

In [31]:
!pip install transformers

Collecting transformers
  Using cached transformers-4.49.0-py3-none-any.whl.metadata (44 kB)
Requirement already satisfied: filelock in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (3.13.1)
Collecting huggingface-hub<1.0,>=0.26.0 (from transformers)
  Downloading huggingface_hub-0.29.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (2024.9.11)
Requirement already satisfied: requests in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (2.32.3)
Collecting tokenizers<0.22,>=0.21 (from transformers)
  Downloading tokenizers-0.21.0-cp39-abi3-win_amd64.whl.metadata (6.9 kB)
Collecting safetensors>=0.4.1 (from transformers)
  Downloading safetensors-0.5.2-cp38-abi3-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: tqdm>=4.27 in c:\users\laifu\anaconda3\lib\site-packages (from transformers) (4.66.5)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\laifu\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (2024.6.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\laifu\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.26.0->transformers) (4.11.0)
Requirement already satisfied: colorama in c:\users\laifu\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\laifu\anaconda3\lib\site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\laifu\anaconda3\lib\site-packages (from requests->transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\laifu\anaconda3\lib\site-packages (from requests->transformers) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laifu\anaconda3\lib\site-packages (from requests->transformers) (2024.12.14)
Downloading transformers-4.49.0-py3-none-any.whl (10.0 MB)
   ---------------------------------------- 0.0/10.0 MB ? eta -:--:--
   --------- ------------------------------ 2.4/10.0 MB 11.2 MB/s eta 0:00:01
   ------------------ --------------------- 4.7/10.0 MB 11.9 MB/s eta 0:00:01
   ---------------------------- ----------- 7.1/10.0 MB 11.8 MB/s eta 0:00:01
   -------------------------------------- - 9.7/10.0 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 10.0/10.0 MB 11.5 MB/s eta 0:00:00
Downloading huggingface_hub-0.29.1-py3-none-any.whl (468 kB)
Downloading safetensors-0.5.2-cp38-abi3-win_amd64.whl (303 kB)
Downloading tokenizers-0.21.0-cp39-abi3-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------  2.4/2.4 MB 12.2 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 11.4 MB/s eta 0:00:00
Installing collected packages: safetensors, huggingface-hub, tokenizers, transformers
Successfully installed huggingface-hub-0.29.1 safetensors-0.5.2 tokenizers-0.21.0 transformers-4.49.0

In [3]:
import torch
print(torch.cuda.is_available())  # Should print True
print(torch.cuda.device_count())  # Should print 1 (or more if you have multiple GPUs)
print(torch.cuda.get_device_name(0))  # Should print 'NVIDIA RTX 4090'

True
1
NVIDIA GeForce RTX 4090

In [5]:
import torch
print(torch.__version__)  # Should print the installed PyTorch version
print(torch.cuda.is_available())  # Should print True

2.5.1+cu121
True

In [7]:
from transformers import is_torch_available
print("Is PyTorch available in transformers?", is_torch_available())

Is PyTorch available in transformers? True

In [9]:
from transformers import pipeline

# Load the sentiment analysis pipeline
sentiment_model = pipeline("sentiment-analysis")

# Test on a sample sentence
print(sentiment_model("The company's performance has been outstanding this quarter!"))

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

model.safetensors:   0%|          | 0.00/268M [00:00<?, ?B/s]

C:\Users\laifu\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:142: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\laifu\.cache\huggingface\hub\models--distilbert--distilbert-base-uncased-finetuned-sst-2-english. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Device set to use cuda:0

[{'label': 'POSITIVE', 'score': 0.9998581409454346}]

In [11]:
# Filter dataset for only Tim Cook's statements
tim_cook_df = df_cleaned[df_cleaned["transcriptpersonname"] == "Tim Cook"]

# Display the first few rows
tim_cook_df.head()

,mostimportantdateutc,mostimportanttimeutc,transcriptpersonname,speakertypename,componenttextpreview,cleaned_text
10,19JUL2006,21:00:00,Tim Cook,Executives,"As Peter said earlier, the component pricing w...",peter say early component pricing favorable q3...
16,19JUL2006,21:00:00,Tim Cook,Executives,"In terms of what we saw across the quarter, on...",term see quarter announce macbook begin ship s...
56,19JUL2006,21:00:00,Tim Cook,Executives,"In regards to the MacBook, we shipped a signif...",regard macbook ship significant number macbook...
61,19JUL2006,21:00:00,Tim Cook,Executives,It was not significant.,significant
70,19JUL2006,21:00:00,Tim Cook,Executives,"Rebecca, the main one that we are running righ...",rebecca main run right bestbuy store half appl...

In [15]:
# Apply sentiment analysis to Tim Cook's statements
tim_cook_df.loc[:, "sentiment"] = tim_cook_df["cleaned_text"].apply(lambda text: sentiment_model(text)[0])


# Split sentiment into label and score
tim_cook_df["sentiment_label"] = tim_cook_df["sentiment"].apply(lambda x: x["label"])
tim_cook_df["sentiment_score"] = tim_cook_df["sentiment"].apply(lambda x: x["score"])

# Display the results
tim_cook_df[["cleaned_text", "sentiment_label", "sentiment_score"]].head()

C:\Users\laifu\AppData\Local\Temp\ipykernel_38644\3775728794.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tim_cook_df["sentiment_label"] = tim_cook_df["sentiment"].apply(lambda x: x["label"])
C:\Users\laifu\AppData\Local\Temp\ipykernel_38644\3775728794.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tim_cook_df["sentiment_score"] = tim_cook_df["sentiment"].apply(lambda x: x["score"])

,cleaned_text,sentiment_label,sentiment_score
10,peter say early component pricing favorable q3...,POSITIVE,0.986087
16,term see quarter announce macbook begin ship s...,NEGATIVE,0.994600
56,regard macbook ship significant number macbook...,POSITIVE,0.773026
61,significant,POSITIVE,0.999787
70,rebecca main run right bestbuy store half appl...,NEGATIVE,0.995480

In [17]:
executives_df = df_cleaned[df_cleaned["speakertypename"] == "Executives"]

In [21]:
# Ensure cleaned_text is a string and remove NaN values
executives_df = executives_df.dropna(subset=["cleaned_text"])  # Drop NaN rows
executives_df = executives_df[executives_df["cleaned_text"].str.strip() != ""]  # Remove empty strings
executives_df["cleaned_text"] = executives_df["cleaned_text"].astype(str)  # Convert everything to string

In [23]:
executives_df.loc[:, "sentiment"] = executives_df["cleaned_text"].apply(lambda text: sentiment_model(text)[0])
executives_df.loc[:, "sentiment_label"] = executives_df["sentiment"].apply(lambda x: x["label"])
executives_df.loc[:, "sentiment_score"] = executives_df["sentiment"].apply(lambda x: x["score"])

In [25]:
executives_df[["cleaned_text", "sentiment_label", "sentiment_score"]].head()

,cleaned_text,sentiment_label,sentiment_score
1,thank good afternoon thank join speak today ap...,POSITIVE,0.999519
2,thank nancy thank join pleased report second h...,POSITIVE,0.999432
5,andy know talk unannounced product limit tell ...,POSITIVE,0.662090
6,thank andy question,POSITIVE,0.999160
9,start generally tim provide color commodity en...,NEGATIVE,0.967484

In [27]:
executives_df.to_csv("executives_sentiment.csv", index=False)